@import "~/node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$main-color: #1592BD;
@import "./path.scss";
@import "./modal.scss";
@import "./transportSelection.scss";

.color-main {
  color: $main-color;
}

body {
  display: grid;
  grid-template-areas: "sideBar main";
  grid-template-columns: 300px 1fr;
}

.btn-primary {
  background-color: $main-color !important;
  border-color: $main-color !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Bai Jamjuree";
}

.sideBar {
  height: 100vh;
  width: 300px;
  padding-top: 40px;
  background: $main-color;
  grid-area: sideBar;

  & .dcLogo {
    width: 70%;
    margin: 0px auto 40px auto;
    display: block;
  }
}

.main {
  display: inline;
  grid-area: main;
}

.addressContainer {
  display: flex;
  flex-wrap: wrap;
}

